<h2>My Cart</h2>


@if (isLoading()) {

  <p>
    Loading cart...
  </p>

}


@if (errorMessage()) {

  <p>
    {{ errorMessage() }}
  </p>

}
@if (checkoutMessage()) {

  <p>
    {{ checkoutMessage() }}
  </p>

}

@if (checkoutError()) {

  <p>
    {{ checkoutError() }}
  </p>

}


@if (cart(); as currentCart) {

  @if (currentCart.items.length > 0) {

    @for (
      item of currentCart.items;
      track item.id
    ) {

      <div>

        @if (item.imageUrl) {

  <img
    [src]="productService.getImageUrl(item.imageUrl)"
    [alt]="item.productName"
    width="120"
    height="120"
  />

}


        <h3>
          {{ item.productName }}
        </h3>


        <p>
          Franchise:
          {{ item.franchiseName }}
        </p>


        <p>
          Type:
          {{ item.productType }}
        </p>


        <p>
          Unit Price:
          ₹{{ item.unitPrice }}
        </p>


        <div>

          <button
            type="button"
            (click)="decreaseQuantity(item)"
            [disabled]="item.quantity <= 1">

            -

          </button>


          <span>
            {{ item.quantity }}
          </span>


          <button
            type="button"
            (click)="increaseQuantity(item)"
            [disabled]="
              item.quantity >=
              item.availableStock
            ">

            +

          </button>

        </div>


        <p>
          Available:
          {{ item.availableStock }}
        </p>


        <p>
          Total:
          ₹{{ item.totalPrice }}
        </p>


        <button
          type="button"
          (click)="removeItem(item.productId)">

          Remove

        </button>


        <hr />

      </div>

    }


    <h3>
      Total Items:
      {{ currentCart.totalItems }}
    </h3>


    <h3>
      Total Amount:
      ₹{{ currentCart.totalAmount }}
    </h3>


    <button
      type="button"
      (click)="clearCart()">

      Clear Cart

    </button>


    <br />
    <br />

<button
  type="button"
  routerLink="/checkout">


Checkout

</button>

  } @else {

    <p>
      Your cart is empty.
    </p>

  }

} @else if (!isLoading()) {

  <p>
    Your cart is empty.
  </p>

}