<h2>Order Details</h2>

@if (isLoading()) {

  <p>
    Loading order...
  </p>

}

@if (errorMessage()) {

  <p>
    {{ errorMessage() }}
  </p>

}

@if (order(); as currentOrder) {

  <h3>
    Order #{{ currentOrder.id }}
  </h3>

  <p>
    <strong>Status:</strong>
    {{ currentOrder.status }}
  </p>

  <p>
    <strong>Order Date:</strong>
    {{ currentOrder.orderDate | date:'medium' }}
  </p>

  <p>
    <strong>Shipping Address:</strong>
    {{ currentOrder.shippingAddress }}
  </p>

  <hr />

  <h3>
    Order Items
  </h3>

  @for (
    item of currentOrder.items;
    track item.id
  ) {

    <div>

      <h4>
        {{ item.productName }}
      </h4>

      <p>
        Product ID:
        {{ item.productId }}
      </p>

      <p>
        Unit Price:
        ₹{{ item.unitPrice }}
      </p>

      <p>
        Quantity:
        {{ item.quantity }}
      </p>

      <p>
        Item Total:
        ₹{{ item.totalPrice }}
      </p>

      <hr />

    </div>

  }

  <h3>
    Total Amount:
    ₹{{ currentOrder.totalAmount }}
  </h3>

  <br />

  <a routerLink="/orders">
    ← Back to My Orders
  </a>

}